.text-container {
  display: flex;
  gap: 10%;
  /* margin-left: 20px; */
  /* margin-right: 20px; */
  margin-bottom: 20px;
  /* background: #100F3A; */
  /* border: 1px solid #100F3A; Border color */
  /* border-radius: 8px; Border radius */
  padding: 5px; /* Padding inside the container */
}
.container {
  /* display: flex; */
  gap: 10%;
}

.item {
  font-size: medium;
  background: none !important;
}
.space {
  gap: 5px;
}
.card-title {
  color: var(--blue-5, #5f97ff);
  /* Btn/small/normal */
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.card-text {
  color: var(--blue-1, #e2f0ff);
  /* Btn/small/normal */
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.card-body {
  width: 20%;
}
.portfolio-title {
  color: #fff;
  text-align: center;
  /* Headline/H6 */
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  margin-bottom: 6px;
}
.portfolio-subtitle {
  color: #fff;
  text-align: center;
  /* Caption/small 12-18/regular */
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: 18px;
  letter-spacing: 0.24px;
  margin-bottom: 30px;
}
.center-panel {
  /* display: flex; */
  padding: 0px 60px;
  justify-content: center;
  align-items: center;
  gap: 20px;
  align-self: stretch;
}
