.text-container {
  display: flex;
  gap: 10%;
  /* margin-left: 20px; */
  /* margin-right: 20px; */
  margin-bottom: 20px;
  /* background: #100F3A; */
  /* border: 1px solid #100F3A; Border color */
  /* border-radius: 8px; Border radius */
  padding: 5px; /* Padding inside the container */
}
.container {
  /* display: flex; */
  gap: 10%;
}

.item {
  font-size: medium;
  background: none !important;
  padding: 8px;
}
.item-count {
  color: var(--white, #fff);
  /* Paragraph/Semibold */
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  letter-spacing: 1.4px;
  float: right;
}
.item-price {
  color: var(--gray-10, #a19ed3);
  /* Caption/small 12-16/regular */
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 133.333% */
  float: right;
}
.space {
  gap: 5px;
}
.card-title {
  color: var(--blue-5, #5f97ff);
  /* Btn/small/normal */
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.card-text {
  color: var(--blue-1, #e2f0ff);
  /* Btn/small/normal */
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  font-family: 'Neometric Alt';
}
.card-body {
  width: 20%;
}
.portfolio-title {
  color: #fff;
  text-align: center;
  /* Headline/H6 */
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  margin-bottom: 6px;
}
.portfolio-subtitle {
  color: #fff;
  text-align: center;
  /* Caption/small 12-18/regular */
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: 18px;
  letter-spacing: 0.24px;
  margin-bottom: 30px;
}
.center-panel {
  margin: 0 auto;
}
.container-panel {
  width: 100%;
  height: 100%;
}
.connect-button {
  display: flex;
  padding: 21px 12px 21px 12px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  border: 1px solid #7b61ff;
  background: none;
  color: var(--gray-16, #645fd3);
  /* Paragraph/Semibold */
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 1.4px;
}
.connect-button:hover {
  background: var(--gray-18, #4f4ad3);
  color: var(--gray-2, #f3f2ff);
  /* Paragraph/Semibold */
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 1.4px;
}
.connect-button:focus,
.connect-button:active {
  background: var(--gray-14, #7974d3);
  color: var(--gray-2, #f3f2ff);
}
.border {
  border: 1px solid var(--gray-22, #2e2a8c);
  display: flex;
  padding: 10px 24px 10px 20px;
  flex-direction: column;
  align-items: center;
  /* gap: 20px; */
  align-self: stretch;
}
.default-button {
  border-radius: 24px;
  border: 1px solid var(--blue-3, #a9cdff);
  background: none;
  color: var(--blue-3, #a9cdff);
  /* Headline/H6 */
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 140% */
}
.default-button:hover {
  border: none;
  color: var(--gray-2, #f3f2ff);
  background: var(--gray-24, #1d1a59);
}
.default-button:focus,
.default-button:active {
  border: none;
  color: var(--gray-2, #f3f2ff);
  background: var(--gray-22, #2e2a8c);
}
